/**index.wxss**/
/* 搜索 */
.index_swiper{
  swiper{
    width:750rpx;
    height: 340rpx;
    image{
      width: 100%;
    }
  }
}
/* 导航 */
.index_cates{
  display: flex;
  navigator{
    flex: 1;
    padding:20rpx;
  }
  image{
    width: 100%;
  }
}
/* 楼层 */
.index_floor{
  .floor_title{
    image{

    }
  }
  .floor_list{
    navigator{
      image{
        
      }
    }
  }
}